# Forzar que el Dockerfile sea Docker
Dockerfile linguist-language=Dockerfile

# Ignorar archivos de shell que no sean el núcleo del proyecto
*.sh linguist-vendored

# Ignorar documentación HTML
*.html linguist-documentation

# Ignorar otros archivos de configuración que no cuentan para el lenguaje
*.md linguist-documentation
